body {
    margin: 0px;
    background-color: #f2f3f4;
}

@media (max-width:768px) {
    #main-heading {
        text-align: center;
        color: #104565;
        font-size: 30px;
        text-decoration: underline;
    }
}

@media (min-width:768px) {
    #main-heading {
        text-align: center;
        color: #104565;
        font-size: 40px;
        text-decoration: underline;
    }
}

.header-head {
    text-align: center;
    width: 100%;
    background-color: #104565;
}

p {
    margin: 0px;
    padding: 0px;
}

sup {
    color: red;
}

@media (max-width:768px) {
    h3 {
        font-size: 20px;
        margin: 20px 0px 5px 0px;
    }
}

@media (min-width:768px) {
    h3 {
        font-size: 23px;
        margin: 20px 0px 5px 0px;
    }
}

@media (min-width:768px) {
    .heads {
        color: #104565;
        text-align: center;
        font-size: 34px;
        border-bottom: 1px solid black;
    }
}

@media (max-width:768px) {
    .heads {
        color: #104565;
        text-align: center;
        font-size: 26px;
        border-bottom: 1px solid black;
    }
}

#logo-id {
    text-align: center;
}

@media (min-width:768px) {
    #logo-id img {
        width: 35%;
    }
}

@media (max-width:768px) {
    #logo-id img {
        width: 70%;
    }
}

.start-para {
    margin: 0px 30px 0px 30px;
}

@media (min-width:768px) {
    #collage-name {
        color: white;
        margin: 0px 0px 0px 0px;
        font-size: 42px;
        font-family: 'adamina';
        padding: 8px 0px 8px 0px;
    }
}

@media (max-width:768px) {
    #collage-name {
        color: white;
        margin: 0px 0px 0px 0px;
        font-size: 28px;
        font-family: 'adamina';
        padding: 8px 0px 8px 0px;
    }
}

.mark-form {
    margin: 10px 20px 30px 20px;
}

input[type='number'] {
    margin: 0px 0px 30px 0px;
    padding: 0px;
    width: 100%;
    font-size: 24px;
    height: 30px;
}

.final-btn-div {
    display: flex;
    justify-content: center;
}

.final-btn-div>input {
    padding: 16px 6px 16px 6px;
    background-color: #104565;
    color: whitesmoke;
    border: none;
    box-shadow: 0px 0px 4px 1px black;
    font-size: 20px;
    font-weight: bold;
}

.final-btn-div>input:hover {
    cursor: pointer;
    padding: 16px 6px 16px 6px;
    background-color: whitesmoke;
    color: #104565;
    border: none;
}

.result {
    text-align: center;
    margin: 16px 0px 28px 0px;
}

#res-id {
    padding: 16px;
    display: inline-block;
    font-size: 28px;
    color: #104565;
    background-color: white;
    box-shadow: 0px 0px 6px 1px black;
}

.final-links {
    display: flex;
    justify-content: space-around;
}

.final-links a {
    padding: 6px 12px;
    margin: 0px 0px 64px 0px;
    color: #104565;
    background-color: whitesmoke;
    box-shadow: 0px 0px 8px 1px black;
    border-radius: 26px;
    font-size: 26px;
    text-decoration: none;
}

.final-links a:hover {
    padding: 6px 12px;
    color: white;
    background-color: #104565;
    text-decoration: none;
}

@media (min-width:768px) {
    footer>div>p {
        text-align: center;
        color: #104565;
        font-size: 18px;
    }
}

@media (max-width:768px) {
    footer>div>p {
        text-align: center;
        color: #104565;
        font-size: 14px;
    }
}